/* Main styling */
@charset "UTF-8";
html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
body {   
    background-color:#f4efff;
    margin: 0 2%;
    font-family: 'Quicksand', sans-serif;
    color: #1a0e3e;
    font-size: medium;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Headings */
h1 {
    text-align:center;
    font-family: 'Lobster Two', cursive;
    font: weight 600;
    font-size: xx-large;
    color: #f4efff;
   
}

h2 {
    text-align: left;
    font-family: 'Righteous', cursive;
    font: weight 400;
    font-size: x-large;
    text-transform: uppercase;
    border-bottom: 1.5px solid #b9aedd;
    color: #9996a3
}

/* Image styling */
.image{
    float: left;
    margin: 0 1em 1em 0;
}
.subhead {
    text-align: center;
    font: weight 100;
    font-size: xx-small;
    text-transform: uppercase;
    color: #9996a3
}

/* Headers and footers */
header {
    padding-top: 2em;
    padding-bottom: 2em;
    background: #5c4c7b url(export.png) no-repeat center
    2px fixed;
    height: 15em;
    text-align: justify;
    margin: 0;
    padding-left: 1em;
    color: #d8d6dd;    
}

footer {
    background-color: #5c4c7b;
    color: #b6afc4;
    text-align: center;
    font: weight 100;
    font-size: smaller;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Link */
nav, footer {
    font-family: 'Quicksand', sans-serif;
    background-color: #5c4c7b;
}

nav ul li a:link, nav ul li a:visited {
    color: #9996a3;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: #d8d6dd;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

nav ul li a {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
}
/* Misc. items */
